@import 'application';

$color1: #1c1e26 !important; // darkest
$color4: #b94d4d !important; // vibrant

.column {
  flex-grow: 1 !important;
}

.getting-started {
  background: image-url('ancom-elefriend.png') no-repeat 0 100% local !important;
}
