<<<<<<< HEAD
$color1: #1c1e26; // darkest
$color2: #d9e1e8; // lightest
$color3: #9baec8; // lighter
$color4: #b94d4d; // vibrant
$color5: #ffffff; // white
$color6: #df405a; // error red
$color7: #79bd9a; // succ green
$color8: #000000; // black
=======
$color1: #282c37 !default; // darkest
$color2: #d9e1e8 !default; // lightest
$color3: #9baec8 !default; // lighter
$color4: #2b90d9 !default; // vibrant
$color5: #ffffff !default; // white
$color6: #df405a !default; // error red
$color7: #79bd9a !default; // succ green
$color8: #000000 !default; // black
>>>>>>> 1955a3f4448e1a13898c10a89e681395d6748ec3
